<% provide(:title, 'Help') %>

<div class="center hero-unit">
  <h1>Besoin d'aide ?</h1>

  <h2>
    Pour plus d'information, me contacter au 0123456789  <br />
    ou sur le site de
    <a href="#">Application for test</a>
  </h2>

  <%= link_to "connexion", '/sign_in', class: "btn btn-large btn-primary" %>
</div>

