<% provide(:title, 'Help') %>

<div class="center hero-unit">
  <h1>Besoin d'aide ?</h1>

  <h2>
     me contacter au 0123456789  <br />
    ou par mail
    <a href="#">Application for test</a>
  </h2>
  
  <div style="margin: 30px;">Pour changer la photo de votre profile,  <br />
  	  vous devrez renseigner une adresse email liée à un compte <br />
  	  <a href="https://fr.gravatar.com/site/signup/" target="_new"> comme celui-ci par exemple</a>
  </div>

  <span style="margin: 10px;"><%= link_to "connexion", '/sign_in', class: "btn btn-large btn-primary" %></span>
</div>

