<% provide(:title, "Update") %>
<h1 class="titre">Modifier compte</h1>

<%= render 'form' %>

<p align="center">
    <%= link_to 'Afficher', @user %> |
    <%= link_to 'Liste utilisateurs', users_path %>
</p>