<% provide(:title, "Liste users")%>
<h1 class="titre">Liste des utilisateurs</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li style="text-decoration: underline">
      <%= gravatar_for user %>
      <%= link_to user.login, user %>
      <h2><%= link_to user.full_name, user %></h2>
    </li>
   
  <% end %>
</ul>



<!-- 
=begin	Fonctions reservees aux Administrateurs
	<%#= link_to 'Edit', edit_user_path(user) %>
	<%#= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %>
	<%#= link_to 'New User', new_user_path %>
=end
-->

