
/*
 *= require custom
 */

body{ 
	width: 940px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
}

#header{
  display: block;
}

.gravatar{
    float: left;
    margin-right: 5px;
}


div.ligne {
    -webkit-column-count: 2;
    -webkit-column-rule: 0px;
    -moz-column-count: 2;
    -moz-column-rule: 0px;
}


div.contenu {
    width: 600px;
    height: auto;
    margin-left: 200px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-color: #0000ff;
    border-width: 1px;

}

h1.titre{
    color: #ff8c00;
    margin-left: 300px;
    margin-bottom: 50px;
}

h1.titre1{
    color: #ff8c00;
    position: relative;
    left: 10px;
    bottom:10px;
   
}

div.field{
    -moz-box-align: left;
    -webkit-box-align: left;
}

.actions{ margin-left: 300px;}

div.notice{
	position: relative;
	left: 40%;
	color: #ff8c00; 
}

div.error{
	position: relative;
	left: 40%;
	color: red; 
}

div#post table{
    width: 200px;
    height: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-color: #0000ff;
    border-width: 1px;
    line-height: 16px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
